## Dossiers

node_modules/
.vscode/

## Fichiers

# Fichiers d'environnement
bot.env

# Fichiers de config
config.json
reactionRoleConfig.json
banEmotesAtJoin.json
gpu.json
freeGames.json

# Autres
.DS_Store